.tableForm {
	
}

.tableForm th {
	text-align: right;
	font-size:12px;
	font-weight:normal;
}

.tableForm{
 	font-size:12px;
	font-weight:normal;
}

.gyst td {
	text-align: right;
	font-size:12px;
	font-weight:normal;
}

 

legend  {
	
		font-size:12px;
	
	
}




